<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Tab</title>
    <link rel="stylesheet" href="../static/css/style_boogle.css">
</head>
<body>
    <div class="header-container">
        <div class="header-menu">
            <a class="type1" href="https://nowhere.com">Gmail</a>
            <a class="type1" href="https://nowhere.com">Images</a>
            <a class="type2" href="https://nowhere.com">
               <img id="svgapps" src="https://www.flaticon.com/svg/static/icons/svg/60/60991.svg" width="20">       <!--je li ovo ispravno unošenje svg formata? trebalo bi moći promijeniti boju svg-a, ali kroz css ne uspijevam pa se pitam je li ovo ok u html-u? -->
            </a>
            <a class="type3" href="https://nowhere.com">Sign in</a>
        </div>
    </div>

    <div class="page-container">
        <div class="page">          <!--komentar se odnosi na red 22: kako napraviti da se ne skrola desno u nedogled dok pišemo kod već da automatski prelazi u novi red?-->
            <div class="logo"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Google_2015_logo.svg/272px-Google_2015_logo.svg.png" height="92" width="272"></div> <!--isto pitanje o svg formatu i za ovaj element + je li bolje visinu i širinu upisivati ovdje ili u css-u-->
            <div class="input">
                <div id="inputsvg">
                    <img src="https://image.flaticon.com/icons/png/512/68/68213.png" width="20">
                </div>
                <input class="type" type="text" placeholder="Search">
            </div>
            <div class="button">
                <a class="search1" href="https://nowhere.com">Google Search</a>
                <a class="search2" href="https://nowhere.com">I`m Feeling Lucky</a>
            </div>
        </div>
    </div>

        <div class="footer1-container">
            <div>Croatia</div>
        </div>
        <div class="footer2-container">
            <div class="footer2-1">
                <a class="advertising" href="https://nowhere.com">Advertising</a>
                <a class="business" href="https://nowhere.com">Business</a>
                <a class="about" href="https://nowhere.com">About</a>
                <a class="search" href="https://nowhere.com">How Search Works</a>
            </div>
            <div class="footer2-2">
                <a class="privacy" href="https://nowhere.com">Privacy</a>
                <a class="terms" href="https://nowhere.com">Terms</a>
                <a class="settings" href="https://nowhere.com">Setting</a>
            </div>
        </div>

</body>
</html>